{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}



<!doctype html>
<html lang="en">
<head>
    {% block head %}
  	<title>{%block title %} {% endblock%}</title>
    {% endblock %}
     <!-- semantic UI -->
     <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
     <!--Chart js-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
     <!-- jQuery -->
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{%static 'css/style.css'%}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
 
     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
   
    <style>
      body {
        background-color: #f0f0f0;}
        </style>
</head>
<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" >
      <div class="custom-menu">
        
      </div>
      <div class="p-4">
        <h1 class="title is-3" ><a class="logo">WALLET</a></h1>
       
         
          
        <ul class="list-unstyled components mb-5">
          
          
        
          
          <li>
            {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                     
                        <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      
                        <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Cadastro</a>
                    </li>
                    {% endif %}
	         
	        </li>
         
        </ul>

        

      </div>
    </nav>
      {%block content %}
      {% endblock %}

        </section>
    </div>  

    <script src="{% static 'jquery-3.6.0.min.js' %}"></script> 
    <script src="{% static 'jquery.mask.min.js' %}"></script> 
    <script src="{% static 'mascara.js' %}"></script>
</body>
</html>