{% extends "contas/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}

        <!-- Page Content  -->
      <div id="content" class="p-7 p-md-3 pt-1">
        <br>
        <br>
        <section class="section">
          <div class="box is-centered">   
            <section></section>
            <h2>Sair</h2>
            <p>Você tem certeza que deseja sair?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <br>
                <button class="btn btn-danger" type="submit">Sair</button>
            </form>
          </div>      
          
        </section>
      </div>
		</div>

{% endblock %}
    
  </body>
</html>