{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap %}


{% block content %}



        <!-- Page Content  -->
      <div id="content" class="p-1 p-md-5 pt-1" width>
        <br>
        <br>
        <section class="section">
          <div class="box is-centered">   
            <section></section>
            
            <h2 class="title is-3">Cadastro</h2>
            
            <form method="post">
                {% csrf_token %}
                
                {{ form|bootstrap}}
                <br>
                <button class="button is-link" type="submit">Entrar</button>
              </div>
              </a>
               
            </form>
                
          </div>      
          
        </section>
      </div>
		</div>
{% endblock %}
    
  </body>
</html>
