{% load static %}

{% load humanize %}
{% load bootstrap %}




<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta name=viewport content="width=1170">
  	<title>{%block title %} {% endblock%}</title>
    
   	
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <!-- Bootstrap, bulma and css -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel=”stylesheet” href=”css/bootstrap-responsive.css”>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    {% endblock %}
    
   
    <style>
      body {
        background-color: #f0f0f0;}

        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


        </style>
</head>
<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" >
      <div class="custom-menu">
        
      </div>
      <div class="p-4">
        <h1 class="title is-3" ><a class="logo">WALLET</a></h1>
        <h3 class="text-muted">
          <font color='#f0f0f0'>Bem vindo, {{user.username}}
          </font>
          <h3>
          <br>
        <ul class="list-unstyled components mb-5">
          
          <li>
            <a href="/profile"><span class="fa fa-user mr-3"></span>Perfil</a>
          </li>

          
          <li>
            <a href="/adicionar"><i class="fa fa-plus"></i> &nbsp; Adicionar uma compra</a>
        </li>
          <li>
            <a href="/categoria "><i class="fa fa-plus"></i> &nbsp; Adicionar categoria</a>
            
        </li>
        <li>
          <a href="/"><span class="fa  fa-list-ul"></span>  &nbsp; Lista de gastos</a>
        </li>
          <li>
            <a href="/visaogeral"><span class="fa fa-pie-chart"></span> &nbsp; Visão geral </a>
          </li>
         
          
        
          <br> <br> <br> <br> <br> <br> <br> <br> 
          <li>
            {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                      <br><br><br><br><br><br><br><br><br><br>
                        <a class="nav-link" href="{% url 'account_logout' %}" style="margin-top: 1cm;">Sair</a>
                    </li>
                    
                    {% endif %}
	         
	        </li>
         
        </ul>

        

      </div>
    </nav>
      {%block content %}
      {% endblock %}

        </section>
    </div>  

    <script src="{% static 'jquery-3.6.0.min.js' %}"></script> 
    <script src="{% static 'jquery.mask.min.js' %}"></script> 
    <script src="{% static 'mascara.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</body>
</html>