{%extends "contas/base.html"%}
{% load static %}

{% block title %} Lista de gastos {% endblock %}

{% block content %}


<div id="content" class="p-7 p-md-3 pt-1">
    
    
  <section class="section">
    
      <section></section>
      <div class="box is-centered" wid>
          <section class="section">
           <canvas id="myChart" ></canvas>
  
             <script>
              const ctx = document.getElementById('myChart').getContext('2d');
              const myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                      labels:  ['Despesas Gerais', 'Alimentação', 'Transporte'],
                      datasets: [{
                          label: 'My First Dataset',
                          data: [{{transaction_d}}, {{transaction_a}}, {{transaction_t}}],
                          backgroundColor: [
                              'rgb(255, 99, 132)',
                              'rgb(54, 162, 235)',
                              'rgb(255, 205, 86)'
                          ],
                          hoverOffset: 4
                      }]
                  },
                  
              });
              </script>
         
      </div>
      </section>          
        

        
       
    </div>      
    
  </section>
</div>
  </div>


{% endblock %}