
{% extends "contas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block title %} Lista de gastos {% endblock %}

        
{% block content %}
<div id="content" class="p-1 p-md-1 pt-1">
  <section class="section">
    
    <div class="box is-centered  "> 
      <form method="POST" id="myForm" >
        <h1 class="title is-3">Despesa</h1>
          {% csrf_token %}

          <h1>{{error}}</h1>

          
          <div class="ccontainer overflow-hidden">
            <div class="row gy-5">
              <div class="col">
                <p class="has-text-black">Descrição:</p>
                <p class="card"  style="width: 20rem;">  {{form.description}} </p>
                <br>
                <p class ="has-text-black">Valor:</p>
               <p class="card has-text-black" style="width: 20rem;"> {{form.price}}</p>
               <br>
               <p class ='has-text-black'>Categoria:</p>
               <p class="card has-text-black" style="width: 20rem;">{{form.category}}</p>

              </div>
              <div class="col">
                <p class="has-text-black">Data:</p>
                <p class="card has-text-black" style="width: 20rem;" placeholder="__/__/____"> 
                   {{form.date}} </p>
              </div>
            </div>
          </div>
          <br>

          <div class="con"></div>
          

              <button class="button is-link  "type="submit">Salvar</button> 

              {% if transaction %}
              
              
              <a href="{% url 'url_delete' transaction.id %}" class="button is-danger">Remover</a>
              
              {%endif%}
              <br>
              
             

            </div> 
             
             
              
            
          </div> 
          
          <br>
          
      </div>
    
      
    </section>
</div>  
  
{% endblock %}

 