{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Lista de gastos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
	
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" >
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
        
				<div class="p-4">
		  		<h1 class="title is-3" ><a class="logo">WALLET</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="/"><span class="fa fa-user mr-3"></span>Seus gastos</a>
	          </li>
	          <li>
	              <a href="/adicionar"><i class="fa  fa-cart-plus"></i> &nbsp; Adicionar uma compra</a>
                
	          </li>
	          <li>
              <a href="/visaogeral"><span class="fa fa-pie-chart"></span> &nbsp; Visão geral </a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-credit-card"></span> &nbsp; Cartão de crédito </a>
	          </li>
          
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
          <li>
            {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                      <br><br><br><br><br><br><br>
                        <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <br><br><br><br><br>
                        <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Cadastro</a>
                    </li>
                    {% endif %}
          
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-7 p-md-3 pt-1">
        <br>
        <br>
        <section class="section">
          <div class="box is-centered">   
            <section></section>
              <h1 class="title is-3">Lista de gastos</h1>
              <div class="columns is-mobile">
                  
                <div class="column has-text-black">Descrição</div>
                <div class="column is-one-third has-text-black">Data</div>
                <div class="column has-text-black">Valor</div>
                <div class="column has-text-black">Categoria</div>
              </div>
              <ul >
              

              {% for t in transaction %}
                
              
      
                
                <a href="{% url 'url_update' t.id %}"> 
                <div class="columns is-mobile">
                  
                  <div class="column"> {{t.description}}</div>
                  <div class="column is-one-third">{{t.date|date:"D, d/m/Y" }} </div>
                  <div class="column">R$ {{t.price|intcomma}}</div>
                  <div class="column">{{t.category}}</div>
                  
                  
                  
                </div>
              
                 
              </a>
              {%endfor%}
          
              </ul>
              <br>
      
              <a type="button"  class="button is-link" href="{% url 'url_create' %}">
              Adicionar
              <a>
                
          </div>      
          
        </section>
      </div>
		</div>

    
  </body>
</html>