

{% extends "contas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}




{% block title %} Lista de gastos {% endblock %}

        
  {% block content %}

  <!-- Box contents -->
  <div id="content" class="p-7 p-md-3 pt-1">
    <section class="section">
        
            
                <div class="row">
                    <div class="card container-fluid bg-danger" style="width: 17rem;">
                        <div class="card-body">
                        <h5 class="card-title">Valor total</h5>
                        <h1 class="title is-3">R$ {{price}}</h1>
                        
                        
                    </div>
                </div>
                  
                  <div class="card container-fluid bg-warning" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Limite mensal</h5>
                      <h1 class="title is-3">R$ {{limit_month}}</h1>
                     <a href="{% url 'url_limit_month' limit_month_obj.id %}"> <button type="button" class="btn btn-primary" ">Definir</button></a> 

                      
                    </div>
                  </div>

                  <div class="card container-fluid bg-info" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Saldo restante</h5>
                      <h1 class="title is-3">R$ {{remaining}}</h1>
                      
                   
                    </div>
                  </div>

                  
  <!-- List contents -->
  <div id="content" class="p-10 p-md-9 pt-1">
        
        
        <section class="section">
          <div class="box is-centered">   
            <section></section>
              <h1 class="title is-3">Lista de gastos</h1>
              <div class="columns is-mobile">
                  
                <div class="column has-text-black">Descrição</div>
                <div class="column is-one-third has-text-black">Data</div>
                <div class="column has-text-black">Valor</div>
                <div class="column has-text-black">Categoria</div>
              </div>
              <ul >
              

              {% for t in transaction %}
                
              
      
                
                <a href="{% url 'url_update' t.id %}"> 
                <div class="columns is-mobile">
                  
                  <div class="column"> {{t.description}}</div>
                  <div class="column is-one-third">{{t.date|date:"D, d/m/Y" }} </div>
                  <div class="column">R$ {{t.price|intcomma}}</div>
                  <div class="column">{{t.category}}</div>
                  
                  
                  
                  
                </div>
              
                 
              </a>
              {%endfor%}
          
              </ul>
              <br>
      
              <a type="button"  class="button is-link" href="{% url 'url_create' %}">
              Adicionar
              <a>
                
          </div>      
          
        </section>
      </div>
		</div>

{% endblock %}